<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/footerbottom.css" />
    <link rel="stylesheet" href="~/css/formulieren.css" />
    <title>Bevestiging aanpassing</title>
</head>

<body>

<h1><b>Deze afspraak is succesvol aangepast!</b></h1>

<a asp-action="Homepagina" asp-controller="Home">Ga terug naar de homepagina</a>

</body>
</html>