@model Chat

<html>
    <div>
        <a asp-action="chatSelection" asp-controller="Chat">Terug naar de chatpagina</a>
    </div>

    <div class="chat-body">
        @foreach (var Message in Model.Messages)
        {
            <div class="message">
                <header>@Message.naam</header>
                <p>@Message.text</p>
                <footer>@Message.currentTime</footer>
            </div>
        }
    </div>
    <div class="chat-input">
        <form asp-controller="chat" asp-action="CreateMessage">
            <input type="hidden" name="chatId" value="@Model.Id">
            <input type="text" name="message">
        <button type="submit">send</button>
        </form>
    </div>
</html>