@using System.Security.Claims
@model IEnumerable<Chat> 
<html>
<h1>chat selection screen</h1>
<body>
    <div class="main-menu"
     <div class="side-menu">
  
              @foreach(var Chat in Model){
                 
                <a class="roomBtn" asp-controller="chat" asp-action="ChatRoom" asp-route-id="@Chat.Id">
                @Chat.naam
                </a>
              }
      </div>
      <br>
        <a asp-controller="chat" asp-action="Find">vind een persoon</a>
    </div>
</body>
</html>