img {
    width: 100%;
    height: 400px;
}

pre {
    font-size: 120%;
    text-align: center;
}

h2 {
    text-align: center;
    margin-left: 15px;
}

#LogIn {
    display: none;
}

#footer {
    bottom: 0px;
}