@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/zonderinloggen.css" />
    <link rel="stylesheet" href="~/css/footerbottom.css" />
    
</head>

<body>
    <div class="row">
        <div class="col-6">
                    <h2>Afspraak maken: </h2>
            <form>
                <input type="submit" value="Maak een afspraak">
            </form>
        </div>
        <div class="col-6">
            <h2>Voorwaarden:</h2>
        </div>
    </div>
</body>
</html>