<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/footerbottom.css" />
    <link rel="stylesheet" href="~/css/bevestiging.css" />
    <title>Bevestiging Registratie</title>
</head>

<body>

<h1><b>De registratie is gelukt!</b></h1>

<p class="inloggen">U kunt nu inloggen door hierboven te drukken op Log in </p>
<p class="inloggen">Let op! Uw gebruikersnaam is uw voornaam + achternaam aan elkaar!</p>

</body>
</html>