@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/contactpagina.css"/>
</head>

<body>
    <div>
        <h1><b>Contact</b></h1>
    </div>

    <br><br>

    <div class="row">
        <div class="col-6">
            <img src="/Images/telefoon.png" alt="pictogram telefoon">
            <p><b>Telefoonnummer:</b> 070-12345678</p>
        </div>
        <div class="col-6">
            <img src="/Images/mail.png" alt="pictogram mail">
            <p><b>Email:</b> ZMDH@gmail.com</p>
        </div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-6">
            <img src="/Images/adres.png" alt="pictogram adres">
            <p><b>Adres:</b> Plein 1</p>
        </div>
        <div class="col-6">
            <img src="/Images/postcode.png" alt="pictogram postcode">
            <p><b>Postcode: </b>2555 AB</p>
        </div>
    </div>
</body>