@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/contactpagina.css" />
    <link rel="stylesheet" href="~/css/zonderinloggen.css" />
    <title>Contact</title>
</head>

<body>
    <div>
        <h1><b>Contactgegevens: </b></h1>
    </div>

    <br><br>

    <div class="row">
        <div class="col-6">

            <div class="card">
                <img src="/Images/telefoon.png" alt="pictogram van een telefoon" style="width:100%">
                <div class="container">
                    <h4><b>Telefoonnummer</b></h4>
                    <p>070-12345678</p>
                </div>
            </div>
        </div>
        <div class="col-6">

            <div class="card">
                <img src="/Images/mail.png" alt="Pictogram van een mail" style="width:100%">
                <div class="container">
                    <h4><b>Email</b></h4>
                    <p>ZMDH@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-6">

            <div class="card">
                <img src="/Images/adres.png" alt="pictogram van een adres" style="width:100%">
                <div class="container">
                    <h4><b>Adres</b></h4>
                    <p>Plein 1</p>
                </div>
            </div>
        </div>
        <div class="col-6">

            <div class="card">
                <img src="/Images/postcode.png" alt="pictogram van een postcode" style="width:100%">
                <div class="container">
                    <h4><b>Postcode</b></h4>
                    <p>2555 AB</p>
                </div>
            </div>
        </div>
    </div>
</body>