@using System.Security.Claims
@model hulpverlener

@{
    
    var currentPersoonId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/homepagina.css" />
    <link rel="stylesheet" href="~/css/zonderinloggen.css" />
    <title>Homepagina</title>
</head>

<body>
    <br>

    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
          @if (Model?.typAccount == "hulpverlener")
          {
                  @foreach (var client in Model.cliënten.Where(c => c.blocked == true))
                  {
                    <div>
                        <b>@client.Voornaam @client.Tussenvoegsel @client.Achternaam is geblokkeerd</b> 
                    </div>
                  }   
                <div>
                  <h2><a asp-controller="Home" asp-action="clienten">aangemelde clienten bekijken</a></h2>
                </div>
              <hr>
                <div>
                  <h2><a asp-controller="Home" asp-action="Register" asp-route-typRegister="Ouder">Ouder account aanmaken</a></h2>
                </div>
              <hr>
          }
            <h2><b>Hoe bereid ik me voor op het eerste gesprek bij de orthopedagoog? </b></h2>
            <p>
                Wanneer je merkt dat je een probleem hebt, wil je dit natuurlijk zo snel mogelijk oplossen, maar wat moet je nou doen als je niet weet hoe je het probleem moet oplossen?
            </p>

            <h3><b>Identificeer het probleem</b></h3>

            <p>Kijk waar je tegenaan loopt. Heb je bijvoorbeeld problemen om je te concentreren omdat er een constante drukte in je hoofd is of heb je angstproblemen? Het is belangrijk dat je een idee hebt wat er precies aan de hand is, zodat anderen je kunnen helpen. 
            </p>

            <h3><b>Vraag om hulp</b></h3>

            <p>Wanneer je het probleem hebt geïdentificeerd of een globaal idee hebt van het probleem, dan kan je vragen om hulp. Dit kan je vragen aan je ouder(s)/voogd of bijvoorbeeld aan een docent op school. Zij kunnen je meestal helpen om je in contact te brengen met iemand die jou kan helpen met je probleem. De mensen die je kunnen helpen worden ook wel orthopedagogen genoemd. Zij staan centraal in het helpen van kinderen met hun problemen. Je kan ze dan een mailtje sturen of ze bellen om een afspraak te maken. </p>

            <h3><b>Intake</b></h3>

            <p>Je bent op bezoek bij de orthopedagoog en legt uit wat je dwars zit. De orthopedagoog luistert goed en aandachtig naar jouw verhaal en maakt notities in zijn schrift om zo een goed beeld te krijgen van jouw probleem. Hij zal jou en jouw ouder(s)/voogd willen spreken om te vertellen wat er precies aan de hand is met jou en hoe hij je het beste met je probleem kan helpen.</p>

            <h3><b>Hoe ziet een behandeling eruit?</b></h3>

            <p>Je komt minstens 2x in de maand bij ons langs waarbij jij leert omgaan met het probleem waar jij tegenaan loopt. Wij proberen hierbij de kernoorzaak te vinden van dit probleem en hoe we dit het beste aan kunnen pakken. We zullen je de komende tijd veel leren, zodat jij je lekker in je vel voelt. Er is ook een mogelijkheid dat je 2x in de maand mee kan doen aan een groepsles waarbij jij andere kinderen ontmoet die ongeveer hetzelfde probleem als jou hebben. Zij vertellen dan hoe zij ermee omgaan en zo kunnen jullie veel van elkaar leren. </p>

            <h3><b>Wat als het niet klikt</b></h3>

            <p>Het kan natuurlijk zo zijn dat het tussen jou en de orthopedagoog niet klikt. Dit is niet erg. Het is belangrijk dat je dit aangeeft, zodat wij kunnen kijken of wij jou kunnen koppelen aan een andere orthopedagoog of kunnen doorverwijzen naar een andere praktijk. Het is belangrijk dat je blijft praten over het probleem, zodat je de hulp kan krijgen die je verdient.</p>

            <hr>
                <h2><b>Hoe kan ik chatten met een hulpverlener</b></h2>
                <p>
                    Tijdens het behandelproces is er natuurlijk een mogelijkheid om met jouw hulpverlener te chatten.
                    Dit kun je doen door in het navigatiemenu op de chat knop te klikken. Je komt vervolgens op een
                    pagina met drie mogelijkheden die al hierboven zijn genoemd. Om te chatten met jouw hulpverlener
                    druk je op de derde mogelijkheid jouw privé chats. Je ziet dan de chat met jouw hulpverlener als de
                    chat al is aangemaakt. Als dat niet het geval is, moet je eerst klikken op de tweede mogelijkheid
                    zoeken naar een hulpverlener. Selecteer jouw hulpverlener en als je dan weer de derde mogelijkheid
                    selecteert, zie je de chat staan.
                </p>
            <hr>
                <h2><b>Deelnemen groepschat</b></h2>
                <p>
                    Wil je graag samen met andere jongeren chatten? Dan kan dat makkelijk door op de knop chat in het
                    navigatiemenu te klikken. Als je dat hebt gedaan, zie je een scherm waarbij je kan kiezen tussen
                    drie mogelijkheden. Eerste mogelijkheid is deelnemen aan een chat. De tweede mogelijkheid is het
                    zoeken naar een hulpverlener en de laatste is jouw privé chats. Hierbij moet je de eerste
                    mogelijkheid kiezen om deel te nemen aan een zelfhulpgroep.
                </p>
            </div>
            <div class="col-2">

            </div>
        </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

</html>