@model Account
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/homepagina.css" />
    <title>Homepagina</title>
</head>

<body>
    @if (Model.typAccount == "hulpverlener")
    {
        <div>
            <h2><a asp-controller="Home" asp-action="clienten">aangemelde clienten bekijken</a></h2>
        </div>
        <hr>
        <div>
            <h2><a asp-controller="Home" asp-action="Register" asp-route-typRegister="Ouder">Ouder account aanmaken</a></h2>
        </div>
    <hr>
    }
    <div>
        <h2><b>Voorbereiding eerste gesprek</b></h2>
    </div>
    <hr>
    <div>
        <h2><b>Hoe kan ik chatten met een hulpverlener</b></h2>
    </div>
    <hr>
    <div>
        <h2><b>Deelnemen groepschat</b></h2>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
</script>

</html>