@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <br>
    <a>Bent uw een ouder of voogd en is uw kind jonger dan 16 jaar? Druk dan op de link om een account voor uw kind aan te maken</a>
    <br>
    <a asp-action="Ouder">Clientgegevens voor uw kind invullen</a>
    <br>
</div>


@model Client

@{
    ViewData["Title"] = "Create";
}

<h2>Clientgegevens invullen</h2>

<div class="row">
    <div class="col-md-4">
    <a asp-action="Index">Lijst opnieuw invullen</a>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <br>
                <label asp-for="Voornaam" class="control-label"></label>
                <input asp-for="Voornaam" class="form-control" />
                <span asp-validation-for="Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tussenvoegsel" class="control-label"></label>
                <input asp-for="Tussenvoegsel" class="form-control" />
                <span asp-validation-for="Tussenvoegsel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achternaam" class="control-label"></label>
                <input asp-for="Achternaam" class="form-control" />
                <span asp-validation-for="Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leeftijd" class="control-label"></label>
                <input asp-for="Leeftijd" class="form-control" id="Leeftijd"/>
                <span asp-validation-for="Leeftijd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geslacht" class="control-label"></label>
                <input asp-for="Geslacht" class="form-control" />
                <span asp-validation-for="Geslacht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telnr" class="control-label"></label>
                <input asp-for="Telnr" class="form-control" />
                <span asp-validation-for="Telnr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adres" class="control-label"></label>
                <input asp-for="Adres" class="form-control" />
                <span asp-validation-for="Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plaats" class="control-label"></label>
                <input asp-for="Plaats" class="form-control" />
                <span asp-validation-for="Plaats" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <button onclick="agecheck()" id="button">Meld aan</button>  
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<div>
    <a asp-action="Login">Klik hier als u al een bestaand account heeft</a>
</div>


<div>
    <a asp-action="Ouderlogin">Klik hier als u al een bestaand ouderAccount heeft</a>
</div>

    
<script>

    function agecheck(){
    let leeftijd = document.getElementById("Leeftijd");

    if (leeftijd.value >= 16){
        alert("Je gegevens zijn ingevuld, maak nu een gebruikersnaam en wachtwoord aan. Om te kunnen inloggen.")   
        
    }
    else {
        alert("Je bent helaas niet oud genoeg om zelf een account aan te maken. Laat dit doen door een ouder of voogd.")
    }
}
</script>