<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/index.css" />
    <title>Welkom pagina</title>
</head>

<body>

    <br><br>

    <div>
        <h2><b>Over ons</b></h2>
        <pre>
            Onze missie is om jongeren te helpen met hun psychische aandoeningen zoals ADD, ADHD, anorexia, etc. 
            Wij willen dit behalen door middel van training en coaching. Dit doen we omdat dit een goede connectie 
            bouwt tussen de orthopedagoog en de jongeren. Ook is het voor ons belangrijk dat de gegevens van onze 
            patiënten goed beveiligd moeten worden, zodat de ouder/jongere weet dat hun informatie goed wordt beschermd. 


            Wij onderscheiden ons van de rest van de praktijken doordat wij behandelingen gebruiken die vooral gericht
            zijn op uw kind met behulp van gespecialiseerde orthopedagogen. Iedere orthopedagoog heef veel ervaring en
            kennis over zijn/haar specialisme. De ene heeft veel ervaring en kennis over ADHD/ADD terwijl de ander juist
            veel kennis heeft over angststoornissen.

            Bij onze praktijk staan drie kenmerken centraal. Allereerst geven wij behandelingen waarbij uw kind centraal 
            staat. Dit vinden wij belangrijk, omdat wij zo uw kind zo goed mogelijk kunnen helpen. Daarnaast gaan wij op 
            een kindvriendelijke manier om met uw kind tijdens de behandelingen. Dit doen wij met onze brede kennis en 
            ervaring met het werken met kinderen. Ten slotte staat ook het waarborgen van de gegevens van u en uw kind 
            centraal. Om zo veilig mogelijk met de gegevens van u en uw kind om te gaan, hebben wij een privacybeleid 
            dat wij hanteren. 
        </pre>
    </div>
    <hr>
    <div>
        <h2><b>Klachtenprocedure</b></h2>
        <pre>
            Het kan zo zijn dat u of uw kind een klacht wilt indienen. U kunt de klacht mailen naar het  
            e-mailadres van onze helpdesk dat staat aangegeven. Uw klacht wordt binnen 2 à 3 werkdagen 
            behandeld. U ontvangt telefonisch of via de mail terugkoppeling op uw klacht. 
        </pre>
    </div>
    <hr>
    <div>
        <div>
            <h2><b>Hoe meld ik mij aan?</b></h2>
        </div>
    </div>
    <hr>
    <div>
        <h2><b>Privacy</b></h2>
        <pre>
            Zoals eerder vermeld, is één van onze kenmerken het waarborgen van uw persoonsgegevens en de 
            persoonsgegevens van uw kind. Dit doen we door ons privacybeleid na te leven. Het privacybeleid 
            is te vinden op onze website onder het kopje privacy. Hiermee zorgen wij ervoor dat uw gegevens 
            veilig zijn bij ons. 
        </pre>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

</html>