@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="nl">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/formulieren.css" />
    <link rel="stylesheet" href="~/css/inloggen.css" />
    <title>Inlog pagina</title>
</head>

<body>

    <h2><b>Inloggen</b></h2>

    <form method="post" id="form">
        <div class="imgcontainer">
            <img src="/Images/LoginAfbeelding.png" alt="Plaatje van een persoon" class="avatar">
        </div>

        <div class="container">
            <label for="uname" id="uname"><b>Gebruikersnaam</b></label>
            <input type="text" id="usernameTextfield" placeholder="Voer uw gebruikersnaam in" name="username" required>

            <label for="psw" id="psw"><b>Wachtwoord</b></label>
            <input type="password" id="passwordTextField" placeholder="Voer uw wachtwoord in" name="password"
                required>

            <button id="Maak aan" class="button">Login</button>
        </div>

        <div class="container">
            <a asp-controller="Home" asp-action="Register">Nog geen bestaand account? Klik dan hier om een nieuw account
                aan te maken.</a>
        </div>

        <div class="container">
            <a asp-controller="Home" asp-action="Index">Terug naar welkom pagina</a>
        </div>

    </form>

</body>

</html>

 @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
