@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/orthopedagogen.css" />
    <link rel="stylesheet" href="~/css/zonderinloggen.css" />
    <title>Ons Team</title>
</head>

<body>

    <h2 style="text-align:center"><b>Ons Team</b></h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img img src="/Images/orthopedagoog.png?v=Kl_dqr9NVtnMdsM2MUg4qthUnWZm5T1fCEimBPWDNgM"
                    alt="Orthopedagoog Laura van Veen" style="width:100%">
                <div class="container">
                    <h2><b>Laura van Veen, 28</b></h2>
                    <p class="title">Orthopedagoog</p>
                    <p>Gespecialiseerd in angststoornissen</p>
                    <p>LauraVanVeen@ZMDH.com</p>
                    <p><a id="Laura" asp-controller="Orthopedagoog" asp-action="Laura"><span class="sr-only">Meer lezen over Laura van Veen</span>Meer Lezen</a></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/Images/orthopedagoog2.png?v=Kl_dqr9NVtnMdsM2MUg4qthUnWZm5T1fCEimBPWDNgM"
                    alt="Orthopedagoog Takezo Jones" style="width:100%">
                <div class="container">
                    <h2><b>Takezo Jones, 32</b></h2>
                    <p class="title">Orthopedagoog</p>
                    <p>Gespecialiseerd in ADD</p>
                    <p>TakezoJones@ZMDH.com</p>
                    <p><a id="Takezo" asp-controller="Orthopedagoog" asp-action="Takezo"><span class="sr-only">Meer lezen over Takezo Jones</span>Meer Lezen</a></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/Images/orthopedagoog3.png?v=Kl_dqr9NVtnMdsM2MUg4qthUnWZm5T1fCEimBPWDNgM"
                    alt="Orthopedagoog Jan Singh" style="width:100%">
                <div class="container">
                    <h2><b>Jan Singh, 46</b></h2>
                    <p class="title">Orthopedagoog</p>
                    <p>Gespecialiseerd in hoogbegaafdheid</p>
                    <p>JanSingh@ZMDH.com</p>
                    <p><a id="Jan" asp-controller="Orthopedagoog" asp-action="Jan"><span class="sr-only">Meer lezen over Jan Singh</span>Meer Lezen</a></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/Images/orthopedagoog4.png?v=Kl_dqr9NVtnMdsM2MUg4qthUnWZm5T1fCEimBPWDNgM"
                    alt="Orthopedagoog Dagmar van Parel" style="width:100%">
                <div class="container">
                    <h2><b>Dagmar van Parel, 48</b></h2>
                    <p class="title">Orthopedagoog</p>
                    <p>Gespecialiseerd in eetstoornissen</p>
                    <p>DagmarvanParel@ZMDH.com</p>
                    <p><a id="Dagmar" asp-controller="Orthopedagoog" asp-action="Dagmar"><span class="sr-only">Meer lezen over Dagmar van Parel</span>Meer Lezen</a></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>