@model Client

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="nl">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/formulieren.css" />
</head>

<body>

    <div class="text-center">
        <br>
        <p>Bent uw een ouder of voogd en is uw kind jonger dan 16 jaar? Druk dan op de link om een account voor uw kind
            aan te maken</p>
        <a asp-action="Ouder"><b>Clientgegevens voor uw kind invullen</b></a>
        <br><br>
        <p>
            <a asp-action="Login">Klik hier als u al een bestaand account heeft</a>
        </p>
        <p>
            <a asp-action="Ouderlogin">Klik hier als u al een bestaand ouderAccount heeft</a>
        </p>
    </div>
    <hr>

    <h2><b>Clientgegevens invullen</b></h2>

    <div class="container">
        <a asp-action="Index">Lijst opnieuw invullen</a>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <br>
                <label asp-for="Voornaam" id="Voornaam" class="control-label"></label>
                <input asp-for="Voornaam" class="form-control" />
                <span asp-validation-for="Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tussenvoegsel" id="Tussenvoegsel" class="control-label"></label>
                <input asp-for="Tussenvoegsel" class="form-control" />
                <span asp-validation-for="Tussenvoegsel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achternaam" id="Achternaam" class="control-label"></label>
                <input asp-for="Achternaam" class="form-control" />
                <span asp-validation-for="Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leeftijd" id="Leeftijd" class="control-label"></label>
                <input asp-for="Leeftijd" class="form-control" id="Leeftijd" />
                <span asp-validation-for="Leeftijd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geslacht" id="Geslacht" class="control-label"></label>
                <input asp-for="Geslacht" class="form-control" />
                <span asp-validation-for="Geslacht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" id="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telnr" id="Telnr" class="control-label"></label>
                <input asp-for="Telnr" class="form-control" />
                <span asp-validation-for="Telnr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adres" id="Adres" class="control-label"></label>
                <input asp-for="Adres" class="form-control" />
                <span asp-validation-for="Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" id="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plaats" id="Plaats" class="control-label"></label>
                <input asp-for="Plaats" class="form-control" />
                <span asp-validation-for="Plaats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button onclick="agecheck()" id="button">Meld aan</button>
            </div>
        </form>
    </div>
    </div>
    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>

</html>


<script>

    function agecheck() {
        let leeftijd = document.getElementById("Leeftijd");

        if (leeftijd.value >= 16) {
            alert("Je gegevens zijn ingevuld, maak nu een gebruikersnaam en wachtwoord aan. Om te kunnen inloggen.")

        }
        else {
            alert("Je bent helaas niet oud genoeg om zelf een account aan te maken. Laat dit doen door een ouder of voogd.")
        }
    }
</script>