@model Ouder

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
   <br>
    <a>Is uw kind ouder dan 16 jaar? Dan moet uw kind met onderstaande link zelf een account aanmaken</a>
    <br>
    <a asp-action="Index">Clientgegevens invullen</a>
    <br>
</div>

<h2>De clientgegevens voor uw kind invullen</h2>


    <div class="text-center">
        <h2><b>Let op!</b></h2>
        <br>
        <p>Is uw kind ouder dan 16 jaar? Dan moet uw kind met onderstaande link zelf een account aanmaken</p>
        <a asp-action="Register">Clientgegevens invullen</a>
        <br><br>
        <p>Opnieuw de lijst invullen? Druk dan op de onderstaande link</p>
        <a asp-action="Ouder">Lijst opnieuw invullen</a>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                  <br>
                <label asp-for="Voornaam" class="control-label"></label>
                <input asp-for="Voornaam" class="form-control" />
                <span asp-validation-for="Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tussenvoegsel" class="control-label"></label>
                <input asp-for="Tussenvoegsel" class="form-control" />
                <span asp-validation-for="Tussenvoegsel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achternaam" class="control-label"></label>
                <input asp-for="Achternaam" class="form-control" />
                <span asp-validation-for="Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leeftijd" class="control-label"></label>
                <input asp-for="Leeftijd" class="form-control" id="Leeftijd"/>
                <span asp-validation-for="Leeftijd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geslacht" class="control-label"></label>
                <input asp-for="Geslacht" class="form-control" />
                <span asp-validation-for="Geslacht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telnr" class="control-label"></label>
                <input asp-for="Telnr" class="form-control" />
                <span asp-validation-for="Telnr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adres" class="control-label"></label>
                <input asp-for="Adres" class="form-control" />
                <span asp-validation-for="Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plaats" class="control-label"></label>
                <input asp-for="Plaats" class="form-control" />
                <span asp-validation-for="Plaats" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Voornaam_kind" class="control-label"></label>
                <input asp-for="Voornaam_kind" class="form-control" />
                <span asp-validation-for="Voornaam_kind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tussenvoegsel_kind" class="control-label"></label>
                <input asp-for="Tussenvoegsel_kind" class="form-control" />
                <span asp-validation-for="Tussenvoegsel_kind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achternaam_kind" class="control-label"></label>
                <input asp-for="Achternaam_kind" class="form-control" />
                <span asp-validation-for="Achternaam_kind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leeftijd_kind" class="control-label"></label>
                <input asp-for="Leeftijd_kind" class="form-control" id="Leeftijd"/>
                <span asp-validation-for="Leeftijd_kind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geslacht_kind" class="control-label"></label>
                <input asp-for="Geslacht_kind" class="form-control" />
                <span asp-validation-for="Geslacht_kind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button onclick="agecheck()" class="button">Meld aan</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    
<script>

    function agecheck(){
    let leeftijd = document.getElementById("Leeftijdkind");

    if (leeftijd.value < 16){
        alert("De gegevens van u en uw kind zijn ingevuld, maak nu een gebruikersnaam en wachtwoord aan. Om te kunnen inloggen.")
    }
    else {
        alert("Uw kind is 16 jaar of ouder en moet zelf een account aanmaken.")
    }
}
</script>