@{
    ViewData["Title"] = "Register Page";
}

<h1> Register</h1>
<form action="/Home/Register" method="post">
    <input type="text" name="Voornaam" value="" placeholder="voornaam" />
    <input type="text" name="Tussenvoegsel" value=" " placeholder="tussenvoegsel" />
    <input type="text" name="Achternaam" value="" placeholder="achternaam"/>
    <input type="text" name="Lijftijd" value="" placeholder="leeftijd"/>
    <input type="text" name="Email" value="" placeholder="Email"/>
    <input type="text" name="Adres" value="" placeholder="Adres"/>
    <input type="text" name="Postcode" value="" placeholder="Postcode"/>
    <input type="text" name="Telnr" value="" placeholder="telefoonnummer"/>
    <input type="text" name="Plaats" value="" placeholder="Woonplaats"/>
    <input type="text" name="password" value="" placeholder="Wachtwoord"/>
    <select name="geslacht" id="geslacht">
        <option value="Man">M</option>
        <option value="Vrouw">F</option>
    </select>
    <button type="submit">Register </button>
</form>