@using System.Security.Claims
@inject ClientContext _context

@{
    var context = _context;
    var userId = " ";
    try{userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;}catch{}
    }
    
<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <header>
        <div>
            <br>
            <h1 class="TitelHome"><b>Praktijk voor Orthopedagogiek & Psychologie Zorg Maatschap Den Haag (ZMDH)</b></h1>
        </div>

        <nav>
            <div class="topnav" id="myTopnav">
                <a asp class="active" id="Home" asp-controller="Home" asp-action="Homepagina"><i class="fa fa-fw fa-home"></i>Home</a>
                @if(_context.accounts.FirstOrDefault() != null && userId != " "){
                   @if(_context.accounts.FirstOrDefault(a => a.Id == userId).typAccount == "hulpverlener"){
                <a id="Aanmelding" asp-controller="Aanmelding" asp-action="IndexAanmelding">Dashboard</a>
                    }
                }
                <a id="OverOns" asp-controller="Home" asp-action="Orthopedagogen">Over ons</a>
                <a id="LogIn" asp-controller="Home" asp-action="Login"><i class="fa fa-fw fa-user"></i>Log in</a>
                <a id="Chat" asp-controller="Chat" asp-action="chatSelection">Chat</a>
                <a id="Contact" asp-controller="Home" asp-action="Contact"><i class="fa fa-fw fa-envelope"></i>Contact</a>
                 @if(_context.accounts.FirstOrDefault() != null && userId != " "){
                   @if(_context.accounts.FirstOrDefault(a => a.Id == userId).typAccount == "admin"){
                <a id="Contact" asp-controller="Home" asp-action="Register">Medwerker aanmaken</a>
                    }
                }
                <a id="LogOut" asp-controller="Home" asp-action="logout">Log uit</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </nav>
    </header>

    <div class="row">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer">
        <div class="row">
            <div class="col-4" id="footerLeft">
                <br><br>
                <p>Welkom bij Praktijk voor Orthopedagogiek & Psychologie Zorg Maatschap Den Haag </p>
            </div>
            <div class="col-2">
            </div>
            <div class="col-3" id="VolgOns">
                <br>
                <h5><b>Volg Ons</b></h5>
                <ul>
                    <li>Twitter <i class="fa fa-twitter"></i></li>
                    <li>Instagram <i class="fa fa-instagram"></i></li>
                    <li>Facebook <i class="fa fa-facebook"></i></li>
                </ul>
            </div>
            <div class="col-3" id="footerRight">
                <br>
                <h5><b>Contact: </b></h5>
                <p>Telefoonnummer: 070-123456789</p>
                <p>Mail: ZMDH@gmail.com</p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>

</html>
