<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <header>
        <div>
            <h1 class="TitelHome"><b>Praktijk voor Orthopedagogiek & Psychologie Zorg Maatschap Den Haag (ZMDH)</b></h1>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" id ="Home" asp-controller="Home" asp-action="Homepagina">Home</a>
                        </li>
                        <li class="nav-item">
                    </ul>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" id="Aanmelding" asp-controller="Home" asp-action="AanmeldingIntake">Aanmelding
                                    intake</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="OverOns" asp-controller="Home" asp-action="Orthopedagogen">Over ons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="LogIn" asp-controller="Home" asp-action="Login">Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Contact" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                            <li>
                                <div class="search-container">
                                    <form action="/action_page.php">
                                        <input type="text" placeholder="Search.." name="search">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </li>
                    </div>
                </div>
        </nav>
    </header>
    <div class="row">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer">
        <div class="row">
            <div class="col-4" id="footerLeft">
                <br><br>
                <p>Welkom bij Praktijk voor Orthopedagogiek & Psychologie Zorg Maatschap Den Haag </p>
            </div>
            <div class="col-2">
            </div>
            <div class="col-3" id="VolgOns">
                <br>
                <h4><b>Volg Ons</b></h4>
                <ul>
                    <li>Twitter <i class="fa fa-twitter"></i></li>
                    <li>Instagram <i class="fa fa-instagram"></i></li>
                    <li>Facebook <i class="fa fa-facebook"></i></li>
                </ul>
            </div>
            <div class="col-3" id="footerRight">
                <br>
                <h4><b>Contact: </b></h4>
                <p>Telefoonnummer: 070-123456789</p>
                <p>Mail: ZMDH@gmail.com</p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
