@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/orthopedagogen.css" />
    <title>Ons Team: Orthopedagoog Dagmar van Parel</title>
</head>

<body>

    <br><br>

    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <img src="/Images/orthopedagoog4.png?v=Kl_dqr9NVtnMdsM2MUg4qthUnWZm5T1fCEimBPWDNgM"
                alt="Orthopedagoog Dagmar van Parel" class="center">

            <br>

            <h3><b>Wie ben ik?</b></h3>
            <p>
                Mijn naam is Dagmar van Parel. Ik ben geboren in de stad Utrecht in het jaar 1974. Verder kom ik uit
                een gezin van vier kinderen waarvan ik de een na jongste ben. Mijn oudste broer werkt in het ziekenhuis
                als dokter en mijn oudste zus werkt als verpleegkundige. Ikzelf werk als orthopedagoog bij deze praktijk
                om vooral anderen te helpen die een eetstoornis hebben net zoals ik vroeger.
            </p>
            <h3><b>Mijn studie</b></h3>
            <p>
                Na de afronding van mijn middelbare school besloot ik Orthopedagogiek te studeren aan de Universiteit
                van Utrecht.
                Op een gegeven moment moest ik een richting kiezen. Ik besloot om mij te specialiseren in eetstoornissen
                vanwege mijn
                verleden.
            </p>
            <h3><b>Mijn Specialiteit</b></h3>
            <p>
                Een eetstoornis een aandoening waarbij het belangrijkste kenmerk het eetgedrag is. Hierbij zijn er
                verschillende soorten
                vormen van eetgedrag. Sommige mensen met een eetstoornis eten te weinig uit angst om aan te komen
                terwijl anderen juist te
                veel eten. Hoe eetstoornissen ontstaan komt voornamelijk voort uit het eetgedrag waarvan de oorzaak
                daarvan vaak psychisch is.
                De meeste mensen met een eetstoornis zijn bang om aan te komen. Dit leidt tot overmatig sporten,
                laxeermiddelen gebruiken om te
                braken en continu letten op wat zij eten.
            </p>
            <br>
            <h3><b>Wat gaan wij doen?</b></h3>
            <p>
                Wij beginnen met een kennismakingsgesprek. Dit mag in je eentje of same met je ouders erbij als jij dat
                het prettigste vindt. Tijdens het gesprek gaan wij het eerst hebben over wie jij bent. Daarna wil ik
                graag weten waar je last
                van hebt en waar je allemaal tegen aanloopt in jouw dagelijkse leven. Het uiteindelijke doel van dit
                gesprek is om jou beter
                te leren kennen waardoor ik kan bepalen welke behandelwijze het besten bij jou past. Als ik de juiste
                behandelwijze heb, begint
                het behandelproces. Tijdens het behandelproces houden wij samen maar ook een aantal keer met jouw ouders
                erbij een gesprek. Tijdens
                zo'n gesprek geef ik jou en ook jouw ouders tips en oefeningen die jij kan inzetten in het dagelijks
                leven. In het volgende gesprek
                die daarop volgt, bespreken wij samen hoe het is gegaan en kan ik eventueel nieuwe tips en oefeningen
                geven.
            </p>
        </div>
        <div class="col-3">

        </div>
    </div>

</body>

</html>