@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/orthopedagogen.css" />
    <title>Ons Team: Orthopedogoog Jan Singh</title>
</head>

<body>

    <br><br>

    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <img src="/Images/orthopedagoog3.png?v=Kl_dqr9NVtnMdsM2MUg4qthUnWZm5T1fCEimBPWDNgM"
                alt="Orthopedagoog Jan Singh" class="center">

            <br>

            <h3><b>Wie ben ik?</b></h3>
            <p>
                Hallo mijn naam Jan Singh en ik ben een orthopedagoog. Ik ben gespecialiseerd in het helpen van
                hoogbegaafde kinderen. Mijn interesse van orthopedagogie begon toen ik nog jong was. Binnen het gezin
                groeide ik op met mijn broer die hoofbegaafd is. Ik zag hoeveel problemen hij hiermee ervaarde en daarom
                ging ik mij hierin verdiepen. Mijn interesse groeide zo snel dat ik besloot op mijn hierin te
                specialiseren.
            </p>
            <h3><b>Mijn studie</b></h3>
            <p>
                Ik heb de orthopedagogische opleiding aan
                Universiteit van
                Leiden gedaan waarbij ik mij heb gespecialiseerd tot hoofbegaafdheid onder kinderen.
                Inmiddels heb ik al 15 jaar ervaring met hoogbegaafdheid onder kinderen. Waardoor ik veel kinderen en
                hun ouders heb geholpen.
            </p>
            <h3><b>Mijn Specialiteit</b></h3>
            <p>

                Hoogbegaafdheid is een persoonskenmerk dat ervoor zorgt dat een kind sneller dingen leert dan zijn
                leeftijdsgenoten. Dit kan ervoor zorgen dat er onbalans ontstaat tussen het kind en zijn
                klasgenoten. Gevolg is dat het kind met mogelijke problemen in gevecht is, zoals faalangst,
                perfectionisme, depressie en sociale interactie.

                Daarom is de vraag altijd wat de oplossing is? De oplossing is per kind verschillend, maar het is nooit
                simpel. Elk kind heeft weer een ander probleem die ervoor zorgt dat elk kind een oplossing nodig heeft
                die speciaal voor haar/hem is gemaakt.
            </p>
            <h3><b>Wat is mijn doel met jou?</b></h3>
            <p>
                Mijn doel met jou is ervoor zorgen dat jij comfortabel gaat voelen met wie jij bent en dat je op school
                leuke vrienden kan maken. Dit gaan wij doen door een aantal tests te doen die bepalen hoe we jou
                het besten kunnen helpen.

                Als dit gedaan is gaan we echt aan de slag om er voor te zorgen dat jij helemaal weer in je vel zit.
            </p>
        </div>
        <div class="col-3">

        </div>
    </div>

</body>

</html>