@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/orthopedagogen.css" />
    <title>Ons Team: Orthopedagoog Laura van Veen</title>
</head>

<body>

    <br><br>

    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <img img src="/Images/orthopedagoog.png?v=Kl_dqr9NVtnMdsM2MUg4qthUnWZm5T1fCEimBPWDNgM"
                alt="Orthopedagoog Laura van Veen" class="center">

            <br>

            <h3><b>Wie ben ik?</b></h3>
            <p>
                Mijn naam is Laura Jansen, geboren in 1994 in Den Haag en ben de jongste van vijf kinderen.
                Ik vind het leuk om iets te betekenen voor een ander die het nodig heeft.
                Daarbij ben ik vooral nieuwsgierig wat jongeren ervaren aan problemen in hun dagelijks
                functioneren/leven.
            </p>
            <h3><b>Mijn studie</b></h3>
            <p>
                Ik heb de orthopedagogische opleiding gedaan aan de Universiteit van Leiden.
                Bij de afronding van mijn opleiding heb ik mijzelf gespecialiseerd in angststoornissen.
            </p>
            <h3><b>Nu ben jij aan de beurt</b></h3>
            <p>
                Iedereen is weleens ergens bang voor. Denk bijvoorbeeld aan angst voor de tandarts of angst
                voor bepaalde dieren zoals slangen. Angst is over het algemeen een gezond gevoel.
                Maar in een aantal gevallen kan het zijn dat jij angst ervaart in situaties waar geen direct gevaar
                is,
                we spreken dan van een [eventuele] angststoornis.
            </p>
            <h3><b>Wat gaan wij doen?</b></h3>
            <p>
                Samen met jou ga wij kijken of jij daadwerkelijk een angststoornis hebt met behulp van een aantal
                tests.
                Als er sprake is van een angststoornis, gaan wij samen bekijken waar het vandaan komt, waar je
                tegenaan
                loopt en wanneer je veel last ervaart.

                Eerst ga ik vooral goed jouw probleem in kaart brengen door actief te luisteren.
                Daarna gaan wij samen aan de slag en probeer ik jou zo goed mogelijk te helpen.
                Dit doe ik door middel van oefeningen en tips hoe je daarmee om kan gaan.
            </p>
            <p>
                Je bent van harte welkom.
                Ik sta voor je klaar.
                Wil je meer informatie over de behandeling of over mij, stuur mij gerust een bericht of bel mij.
                Daarna
                kan jij jezelf inschrijven met hulp van jouw ouder/verzorger.
            </p>
        </div>
        <div class="col-3">

        </div>
    </div>

</body>

</html>