@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/orthopedagogen.css" />
    <title>Ons Team: Orthopedagoog Takezo Jones</title>
</head>

<body>

    <br><br>

    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <img src="/Images/orthopedagoog2.png?v=Kl_dqr9NVtnMdsM2MUg4qthUnWZm5T1fCEimBPWDNgM"
                alt="Orthopedagoog Takezo Jones" class="center">

            <br>

            <h3><b>Wie ben ik?</b></h3>
            <p>
                Mijn naam is Takezo Jones. Ik ben geboren in 1990 in Maastricht. Ik maak deel uit van een eeneiige
                drieling. Mijn broer Kaniel geeft les op de Universiteit van Leiden en mijn andere broer Jin woont samen
                met zijn vrouw in Griekenland en is daar dokter. Ikzelf ben een orthopedagoog die gespecialiseerd is in
                het behandelen van kinderen met ADD.
            </p>
            <h3><b>Wat heb ik gestudeerd?</b></h3>
            <p>
                Ik heb orthopedagogiek gestudeerd aan het HvA. In mijn vierde jaar moest ik een richting kiezen waarin
                ik wilde afstuderen. Ik heb toen gekozen om me te specialiseren in het behandelen van ADD.
            </p>
            <h3><b>Wat is ADD en heb ik het? </b></h3>
            <p>
                ADD staat voor Alle Dagen Druk, ook wel in het Engels bekend als Attention Deficit Disorder. ADD wordt
                vaak vergeleken en gezien als ADHD, maar ADHD staat voor Alle Dagen Heel Druk of in het Engels Attention
                Deficit Hyperactivity Disorder. In ADD ontbreekt dus het Hele of Hyperactivity aspect.

                Je kan ADD onder andere herkennen aan onderstaande kenmerken:
                </p>
            <ul>
                <li>Problemen met focussen</li>
                <li>Constante drukte in je hoofd</li>
                <li>Snel afgeleid zijn</li>
                <li>Problemen met het stellen van prioriteiten</li>
                <li>Het uiten van je gevoelens</li>
            </ul>
            <p>
            Wanneer je bovenstaande kenmerken herkent, zou het kunnen zijn dat je ADD hebt. Het vaststellen van ADD moet
            door specialisten worden gedaan. De diagnose kan niet zelf worden vastgesteld.
            </p>
            
            <h3><b>Hoe ziet het behandelproces eruit?</b></h3>
            <p>
                We beginnen met een kennismaking om elkaar wat beter te leren kennen. De kennismaking mag samen met je
                ouders, zo kan ik ook een beter beeld krijgen vanuit een ander perspectief. In de kennismaking vertel je
                waar je last van hebt. Indien ADD bij jou wordt geconstateerd, bespreken we hoe we het ADD gaan
                behandelen.

                We voeren een actief gesprek met elkaar. Dit betekent dat ik zowel luister als vragen stel. Op basis
                hiervan kan ik kijken hoe ik jou het best kan begeleiden in het behandelingsproces. Het
                behandelingsproces bestaat uit tips en oefeningen waarin je leert omgaan met je ADD, aangezien ADD niet
                weggaat, maar je ermee leert leven.

                Je bent van harte welkom. Ik help jou en je ouders graag in het leren omgaan met het ADD. Je kan op onze
                website meer informatie vinden of je kan mij bellen indien er onduidelijkheden zijn.

            </p>
        </div>
        <div class="col-3">

        </div>
    </div>

</body>

</html>